<table appTable>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Created</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (transmission of transmissions; track $index) {
      <tr>
        <th scope="row">{{ transmission.id }}</th>
        <td>{{ transmission.name }}</td>
        <td>{{ transmission.createdDate }}</td>
        <td>
          <div class="d-flex justify-content-end">
            <app-button
              [routerLink]="['/management/transmissions/edit', transmission.id]"
              variant="warning"
              >Edit</app-button
            >
            <app-button
              class="ms-3"
              (click)="deleteTransmission(transmission.id!)"
              variant="danger"
              >Delete</app-button
            >
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>