<div class="container">
  <table  class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col"><div class="d-flex justify-content-end">
          <app-button routerLink="/management/cars/create" variant="primary"
>Create Car</app-button
>
        </div></th>
      </tr>
    </thead>
    <tbody>
      @for (car of cars; track $index) {
      <tr>
        <th scope="row">{{ car.id }}</th>
        <th scope="row">{{ car.modelName }}</th>
        <td>
          <div class="d-flex justify-content-end">
            <app-button
              [routerLink]="['/management/cars/edit', car.id]"
              variant="warning"
              >Edit</app-button
            >
            <app-button
              class="ms-3"
              (click)="deleteCar(car.id!)"
              variant="danger"
              >Delete</app-button
            >
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
 </div> 