<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Model Name</th>
        <th scope="col">Fuel Name</th>
        <th scope="col">Transmission Name</th>
        <th scope="col">Brand Name</th>
        <th scope="col"><div class="d-flex justify-content-end">
          <app-button routerLink="/management/models/create" variant="primary"
>Create Model</app-button
>
        </div></th>
      </tr>
    </thead>
    <tbody>
      @for (model of models; track $index) {
      <tr>
        <th scope="row">{{ model.id }}</th>
        <td>{{ model.name }}</td>
        <td>{{ model.brandName }}</td>
        <td>{{ model.transmissionName }}</td>
        <td>{{ model.brandName }}</td>
        <td>
        <!-- <th scope="row">{{ model.id }}</th>
        <app-button [routerLink]="['/management/models/detail', model.id]" variant="warning">
          <td>{{ model.name }}</td>
        </app-button>
        <td> -->
          <div class="d-flex justify-content-end">
            <app-button [routerLink]="['/management/models/edit', model.id]" variant="primary">Edit</app-button>
            <app-button class="ms-3" (click)="deleteModel(model.id!)" variant="danger">Delete</app-button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>