<!-- Forms -->
<!-- <label for="nameInput" class="form-text text-muted">Model Name:</label>
<input [(ngModel)]="nameInput" type="text" placeholder="Model Name" id="nameInput" /> -->
<!-- Two way binding -->
<!-- Input her değiştiğinde ilgili state'imi güncelliyor olucak. -->
<!-- Aynı şekilde TS tarafında da state'in değeri değiştirilde input da güncellenmiş olacak -->
<div class="container">
  <mat-card>
    <mat-card-title>ADD MODEL</mat-card-title>
    <mat-card-content>
<!-- Reactive Forms -->
<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <!-- <small *ngIf="errorMessage"> {{errorMessage}} </small> -->
  <!-- Angular 17: -->
  @if (formMessage) {
  <small>{{ formMessage }}</small>
  }
  <!-- <div class="mb-3" style="width: 350px;">
    <label for="upload_profile_image" class="form-label" *ngIf="selectedFile">
      <br>
      <br>
      <img [src]="imagePreview" alt="{{imagePreview}}" style="width: 350px;">
      <br>
      <br> -->
  <!-- <img class="img-thumbnail"  alt="img-thumbnail"/> -->
  <!-- </label>
    <input class="form-control" type="file" id="formFile" id="upload_profile_image" (change)="onFileSelected($event)">
    <br>
    <br> -->
  <!-- <button class="rounded-bottom">Ön İzleme</button> -->

  <!-- </div> -->
  <mat-form-field appearance="outline" class="mat-form-field">
    <mat-label>Select a Model</mat-label>
    <mat-select formControlName="brandId" name="brandId">
      <mat-option *ngFor="let brand of brands" [value]="brand.id">
        {{brand.name}}
      </mat-option>
      <mat-error *ngIf="form.get('brandId')?.hasError('required')">This Input is Required!</mat-error>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="mat-form-field">
    <mat-label>Select a Fuel</mat-label>
    <mat-select formControlName="fuelId" name="fuelId">
      <mat-option *ngFor="let fuel of fuels" [value]="fuel.id">
        {{fuel.name}}
      </mat-option>
      <mat-error *ngIf="form.get('fuelId')?.hasError('required')">This Input is Required!</mat-error>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="mat-form-field">
    <mat-label>Select a Transmission</mat-label>
    <mat-select formControlName="transmissionId" name="transmissionId">
      <mat-option *ngFor="let transmission of transmissions" [value]="transmission.id">
        {{transmission.name}}
      </mat-option>
      <mat-error *ngIf="form.get('transmissionId')?.hasError('required')">This Input is Required!</mat-error>
    </mat-select>

  </mat-form-field>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Model Name</mat-label>
    <input matInput placeholder="Model Name" formControlName="name">
  </mat-form-field>

  <app-button type="submit" class="mt-3"> Add Model </app-button>
</form>
</mat-card-content>
</mat-card>
</div>
<!-- 
  <div class="mt-3">
    <label for="nameInput" class="form-text text-muted">Model Name:</label>
    <input formControlName="name" type="text" placeholder="Enter name" id="nameInput" class="ms-3" />
  </div> -->

  <!-- <div class="mt-3">
    <label for="brandIdInput" class="form-text text-muted">Brand:</label>
    <input formControlName="brandId" type="number" placeholder="Enter brand id" id="brandIdInput" class="ms-3" />
  </div>

   Fuel
  <div class="mt-3">
    <label for="fuelInput" class="form-text text-muted">Fuel:</label>
    <input formControlName="fuelId" type="number" placeholder="Enter fuel id" id="fuelInput" class="ms-3" />
  </div>

   transmissionId 
  <div class="mt-3">
    <label for="transmissionIdInput" class="form-text text-muted">Transmission:</label>
    <input formControlName="transmissionId" type="number" placeholder="Enter transmission id" id="transmissionIdInput"
      class="ms-3" />
  </div>-->

 